# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual envs
myvenv/
venv/

# Environment variables
.env

# Playwright drivers
**/playwright/**/driver

# Key files
*.pem

# Data files
emails.json
sent_jobs.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/
*.egg-info/